@media(max-width: 1200px){
    .intro__img{
        width: 500px;
    }
    .intro__title{
        font-size: 45px;
        line-height: 65px;
    }
    .intro__txt{
        max-width: 460px;
        width: 100%;    
    }
    .time__body{
        padding-top: 0;
    }
    .time__img{
        width: 600px;
    }
}
@media(max-width:1140px){
    .header__nav{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .intro__title{
        line-height: 55px;
    }
    .intro__img{
        width: 450px;
    }
    .share__item{
        padding: 20px 10px;
    }
    .share-item__title{
        font-size: 16px;
    }
}
@media(max-width:1024px){
    .intro__title{
        font-size: 32px;
    }
    .header__nav{
        padding-bottom: 0;
    }
    .time__body{
        padding-top: 0;
        padding-bottom: 40px;
    }
    .title{
        font-size: 32px;
        max-width: 330px;
    }
    .share__title{
        font-size: 30px;
    }
    .share__txt{
        max-width: 380px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .groups__img{
        width: 500px;
    }
}
@media(max-width:992px){
    .intro__img{
        width: 380px;
    }
    .time__img{
        width: 600px;
    }
    .title{
        font-size: 28px;
    }
}
@media(max-width: 950px){
    .share__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }
    .share__right{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        column-gap: 40px;
    }
    .share__item{
        transform: translate(0) !important;
    }
    .share__title{
        max-width: 510px;
        width: 100%;
    }
    .share__txt{
        max-width: 505px;
    }
}
@media(max-width:935px){
    .intro__title{
        font-size: 26px;
    }
    .intro__txt{
        max-width: 420px;
    }
    .about__body{
        padding: 30px 0;
    }
    .time__body{
        flex-direction: column;
        row-gap: 30px;
        padding: 30px 0;
    }
    .time__right{
        order: -1;
    }
    .title{
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto 30px auto;
        max-width: 500px;
    }
    .time__txt{
        max-width: 680px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .time__txt:nth-of-type(2){
        display: none;
    }
    .groups__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }
    .groups__title{
        max-width: 530px;
    }
    .groups__txt{
        max-width: 565px;
        width: 100%;
    }
}
@media(max-width:835px){
    .intro__title{
        font-size: 23px;
        line-height: 35px;
    }
    .intro__txt{
        max-width: 355px;
    }
}
@media(max-width:786px){
    .intro__img{
        display: none;
    }
    .header__nav{
        padding-bottom: 35px;
    }
    .intro__title{
        font-size: 32px;
    }
    .intro__txt{
        max-width: 630px;
        margin-bottom: 35px;
    }
}
@media(max-width: 768px){
    .about__title{
        margin-bottom: 10px;
        font-size: 19px;
        line-height: 25px;
    }
    .about__txt{
        margin-bottom: 20px;
        line-height: 22px;
        font-size: 14px;
    }
    .about__info{
        font-size: 14px;
    }
    .about__icon img{
        width: 15px;
    }
    .about__item{
        padding: 20px;
    }
}
@media(max-width:665px){
    .intro__title{
        font-size: 27px;
        line-height: 27px;
    }
    .intro__txt{
        max-width: 555px;
        margin-bottom: 22px;
    }
    .about__title{
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 20px;
    }
    .about__txt{
        margin-bottom: 10px;
        line-height: 20px;
        font-size: 12px;
    }
    .groups__img{
        width: 455px;
    }
    .groups__title{
        font-size: 24px;
    }
}
@media(max-width: 630px){
    .about__body{
        flex-direction: column;
        row-gap: 30px;
    }
    .about__title{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .about__txt{
        margin-bottom: 20px;
        line-height: 20px;
        font-size: 15px;
        max-width: 335px;
    }
    .about__info{
        font-size: 16px;
    }
    .about__icon img{
        width: 20px;
    }
    .time__title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .share__right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }
}
@media(max-width:510px){
    .intro__title{
        font-size: 24px;
        line-height: 19px;
    }
    .intro__txt{
        max-width: 390px;
    }
    .header__btn{
        padding: 12px 16px;
        font-weight: bold;
        font-size: 13px;
    }
    .time__img{
        display: none;
    }
    .time__txt{
        max-width: 440px;
    }
    .time__title{
        font-size: 22px;
    }
    .share__title{
        font-size: 22px;
        margin-bottom: 12px;
    }
    .share__txt{
        max-width: 400px;
    }
    .groups__img{
        width: 400px;
    }
    .groups__title{
        font-size: 22px;
        margin-bottom: 15px;
    }
 }
 @media(max-width: 445px){
     .groups__img{
         width: 350px;
     }
     .groups__title{
         font-size: 20px;
         margin-bottom: 15px;
     }
     .groups__txt{
        font-size: 16px;
        line-height: 26px;
     }
 }
@media(max-width:421px){
    .intro__title{
        font-size: 20px;
        line-height: 20px;
    }
    .intro__txt{
        max-width: 333px;
        font-size: 16px;
        line-height: 25px;
    }
    .btn{
        font-size: 15px;
        padding: 16px 35px;
    }
    .time__txt{
        font-size: 16px;
        line-height: 25px;
    }
    .time__title{
        font-size: 16px;
    }
    .share__title{
        font-size: 20px;
    }
    .share__txt{
        font-size: 15px;
        max-width: 340px;
        margin-bottom: 15px;
    }
    .groups__title{
        font-size: 16px;
        margin-bottom: 13px;
    }
    .groups__txt{
        font-size: 14px;
        line-height: 24px;
    }
    .groups__img{
        width: 300px;
    }
 }
@media(max-width: 356px){
    .intro__title{
        font-size: 17px;
        line-height: 10px;
    }
    .intro__txt{
        max-width: 287px;
        font-size: 15px;
        line-height: 24px;
    }
    .btn{
        font-size: 14px;
        padding: 10px 25px;
    }
    .header__btn{
        padding: 10px 12px;
    }
    .intro__body{
        padding-bottom: 20px;
    }
    .share__title{
        font-size: 17px;
        margin-bottom: 5px;
    }
    .share__txt{
        max-width: 300px;
    }
    .groups__img{
        width: 280px;
    }
    .groups__title{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .groups__txt{
        font-size: 13px;
        line-height: 23px;
    }
 }
