@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__logo{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FF0043;
}
.header__btn{
    padding: 15px 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #FF0043;
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    border-radius: 23px;
}
.intro__body{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__title{
    font-weight: 500;
    font-size: 55px;
    line-height: 85px;
    color: #00194A;
    max-width: 550px;
    width: 100%;
    margin-bottom: 20px;
}
.intro__img{
    max-width: 600px;
}
.intro__txt{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #00194A;
    opacity: 0.8;
    margin-bottom: 50px;
}
.btn{
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 20px 50px;
    background: #FF0043;
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    border-radius: 30px;
    display: block;
    width: max-content;
}
.about__body{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.about__item{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}
.about__img{
    margin-bottom: 25px;
}
.about__title{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #00194A;
}
.about__txt{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.about-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__info{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #00194A;
    opacity: 0.5;
}
.time__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #00194A;
}
.time__title{
    margin-bottom: 30px;
}
.txt{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #00194A;
    opacity: 0.8;
}
.time__txt:nth-of-type(1){
    margin-bottom: 30px;
}
.share__body{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share__title{
    max-width: 465px;
    width: 100%;
    margin-bottom: 30px;
}
.share__txt{
    max-width: 465px;
    width: 100%;
}
.share__txt:nth-of-type(1){
    margin-bottom: 30px;
}
.share-item__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #00194A;
    margin-top: 20px;
    margin-bottom: 15px;
}
.share-item__txt{
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #00194A;
    opacity: 0.8;
    max-width: 220px;
    width: 100%;
}
.share__item{
    padding: 30px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}
.share__item:nth-of-type(1){
    transform: translate(-300px, 100px);
}
.share__item:nth-of-type(3){
    transform: translate(-300px, -100px);
}
.groups__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.groups__title{
     margin-bottom: 30px;
}