*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__logo{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FF0043;
}
.header__btn{
    padding: 15px 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #FF0043;
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    border-radius: 23px;
}
.intro__body{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__title{
    font-weight: 500;
    font-size: 55px;
    line-height: 85px;
    color: #00194A;
    max-width: 550px;
    width: 100%;
    margin-bottom: 20px;
}
.intro__img{
    max-width: 600px;
}